// main colors
$aqua: #7fdbff !default;
$blue: #0074d9 !default;
$navy: #274152 !default;
$teal: #39cccc !default;
$green: #2ecc40 !default;
$olive: #3d9970 !default;
$lime: #01ff70 !default;
$yellow: #ffdc00 !default;
$orange: #ff851b !default;
$red: #ff4136 !default;
$fuchsia: #f012be !default;
$purple: #b10dc9 !default;
$maroon: #85144b !default;
$white: #fff !default;
$silver: #e3e4e6 !default;
$gray: #999 !default;
$black: #000 !default;

// additional colors
$light-blue: #eff4f9 !default;
$gray-blue: #8aa2b3 !default;

$font-serif: georgia, times, serif !default;
$font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif !default;
$font-monospace: 'Source Code Pro', Consolas, monospace !default;

$h1: 2.5rem !default;
$h2: 1.75rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: .875rem !default;
$h6: .75rem !default;

$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 3rem !default;

$space-tiny: .25rem !default;

$line-height-1: 1 !default;
$line-height-2: 1.125 !default;
$line-height-3: 1.25 !default;
$line-height-4: 1.5 !default;
$caps-letter-spacing: .1em !default;
$bold-font-weight: bold !default;

$font-family: $font-sans-serif !default;
$line-height: 1.5 !default;
$base-font-size: 16px !default;
$body-font-size: 100% !default;

$heading-font-family: $font-family !default;
$heading-font-weight: bold !default;
$heading-line-height: 1.25 !default;
$heading-margin-top: 1em !default;
$heading-margin-bottom: .5em !default;

$paragraph-margin-top: 0 !default;
$paragraph-margin-bottom: $space-2 !default;

$body-color: $black !default;
$body-background-color: $light-blue !default;
$link-color: $blue !default;
$link-text-decoration: none !default;
$link-hover-text-decoration: none !default;

$form-field-font-family: inherit !default;
$form-field-font-size: 1rem !default;
$form-field-height: 2.25rem !default;
$form-field-padding-y: .5rem !default;
$form-field-padding-x: .5rem !default;

$field-focus-color: $blue !default;
$field-success-color: $green !default;
$field-warning-color: $yellow !default;
$field-error-color: $red !default;

$button-font-family: inherit !default;
$button-font-size: inherit !default;
$button-font-weight: $bold-font-weight !default;
$button-line-height: 1.125rem !default;
$button-padding-y: .5rem !default;
$button-padding-x: 1rem !default;
$button-color: $white !default;
$button-background-color: $blue !default;

$table-header-font-weight: $bold-font-weight !default;
$table-border-color: #ddd !default;
$table-bg-accent: #f9f9f9 !default;
$table-cell-padding-x: .75rem !default;
$table-cell-padding-y: .5rem !default;
$table-cell-padding-condensed: .25rem !default;

$border-width: 1px !default;
$border-radius: 3px !default;
$border-color: #e9e9e9 !default;

$darken-1: rgba(0, 0, 0, .05) !default;
$darken-2: rgba(0, 0, 0, .1) !default;
$darken-3: rgba(0, 0, 0, .25) !default;
$darken-4: rgba(0, 0, 0, .5) !default;

$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;
$breakpoint-sm-md: '(min-width: 40em) and (max-width: 52em)' !default;
$breakpoint-md-lg: '(min-width: 52em) and (max-width: 64em)' !default;
$container-width: 1000px !default;
