{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "class-methods-use-this": [2, {
      "exceptMethods": ["shouldComponentUpdate"]
    }],
    "comma-dangle": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "max-len": [1, 100],
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": 0,
    "react/no-unused-prop-types": [2, {
      "skipShapeProps": true
    }],
    "react/prop-types": 0,
    "semi": 0,
    "jsx-quotes": [2, "prefer-single"]
  }
}
