{
  parser: "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
  },
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "max-len": [1, 100],
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "semi": 0,
    "jsx-quotes": [2, "prefer-single"]
  }
}
