{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "class-methods-use-this": [2, {
      "exceptMethods": ["shouldComponentUpdate"]
    }],
    "comma-dangle": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "indent": 0,
    "max-len": 0,
    "no-mixed-operators": 0,
    "no-underscore-dangle": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/no-array-index-key": 0,
    "react/no-unused-prop-types": [2, {
      "skipShapeProps": true
    }],
    "react/prop-types": 0,
    "react/require-default-props": 0,
    "semi": 0,
    "jsx-quotes": 0,
    "max-lines": ["error", {"max": 1000, "skipComments": true}]
  }
}
