html { font-size: $base-font-size; }

body {
  font-family: $font-family;
  font-size: $body-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: $line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin-bottom: $heading-margin-bottom;
  margin-top: $heading-margin-top;
}

h1 { font-size: $h1; }
h2 { font-size: $h2; }
h3 { font-size: $h3; }
h4 { font-size: $h4; }
h5 { font-size: $h5; }
h6 { font-size: $h6; }

p {
  margin-bottom: $paragraph-margin-bottom;
  margin-top: $paragraph-margin-top;
}

.monospace { font-family: $font-monospace; }
.sans-serif { font-family: $font-sans-serif; }
.serif { font-family: $font-serif; }
