table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  font-weight: $table-header-font-weight;
  text-align: left;
  vertical-align: bottom;
}

th,
td {
  line-height: inherit;
  padding: $table-cell-padding-y $table-cell-padding-x;
}

td {
  vertical-align: top;
}
