input,
select,
textarea,
fieldset {
  box-sizing: border-box;
  font-family: $form-field-font-family;
  font-size: $form-field-font-size;
  margin-bottom: 0;
  margin-top: 0;
}

label {
  vertical-align: middle;
}

input {
  -webkit-appearance: none;
  height: $form-field-height;
  padding: $form-field-padding-y $form-field-padding-x;
  vertical-align: middle;
}

select {
  height: $form-field-height;
  line-height: 1.75;
  padding: $form-field-padding-y $form-field-padding-x;
  vertical-align: middle;
}

textarea {
  line-height: 1.75;
  padding: $form-field-padding-y $form-field-padding-x;
}
