body {
  background-color: $body-background-color;
  color: $body-color;
}

a {
  color: $link-color;
  text-decoration: $link-text-decoration;
  &:hover { text-decoration: $link-hover-text-decoration; }
}
