body {
  color: $body-color;
  background-color: $body-background-color;
}

a {
  color: $link-color;
  text-decoration: $link-text-decoration;
}

a:hover {
  text-decoration: $link-hover-text-decoration;
}
