$feedback-height: 550px;

.feedback {
  bottom: $feedback-height * -1.5;
  max-height: $feedback-height;
  overflow: scroll;
  right: 0;

  transition-duration: 1s;
  transition-property: bottom;
  transition-timing-function: cubic-bezier(0, 1, .5, 1);

  @media #{$breakpoint-md} { right: 5%; }
  &.show { bottom: 0; }
}
