.filter-field {
  position: relative;
}

.filter-field::before {
  border-width: $border-width * 3;
  border-bottom: 0;
  border-color: $black;
  border-left: 0;
  border-style: solid;
  content: '';
  display: inline-block;
  height: $space-1;
  position: absolute;
  right: $space-1;
  top: $space-1;
  transform: rotate(135deg);
  width: $space-1;
}

.filter-field[aria-expanded="true"] label + * {
  display: block;
}

.filter-field[aria-expanded="false"] label + * {
  display: none;
}

.filter-field[aria-expanded="false"]::before {
  transform: rotate(45deg);
}
