// scss-lint:disable SingleLinePerSelector EmptyLineBetweenBlocks

.table {
  max-width: 100%;
  width: 100%;
  th, td {
    border-bottom: 1px solid $table-border-color;
    padding: $table-cell-padding-y $table-cell-padding-x;
  }
  thead { th, td { border-bottom-width: 2px; } }
  tr:last-child td { border-bottom: 0; }
}

.table-condensed {
  th, td { padding: $table-cell-padding-condensed; }
}

.table-bordered {
  border: 1px solid $table-border-color;
  border-collapse: collapse;
  th, td { border: 1px solid $table-border-color; }
}

.table-fixed {
  table-layout: fixed;
}

.table-striped {
  tbody tr:nth-of-type(even) { background-color: $table-bg-accent; }
}

.table-striped-white {
  tbody tr:nth-of-type(even) { background-color: $white; }
}
