.axis {
  fill: none;
  font-family: $font-monospace;
  font-size: $h6;

  line,
  path {
    stroke: #ddd;
    stroke-width: 1px;
  }
}

.usa-map path {
  stroke: $white;
  stroke-width: 2px;
  &:hover { fill: $red-light; }
  @media #{$breakpoint-sm} { stroke-width: 1px; }
}
