.axis {
  fill: none;
  font-family: $font-monospace;
  font-size: $h6;

  line,
  path {
    stroke: $blue-light;
    stroke-opacity: .25;
    stroke-width: 1px;
  }
}

.usa-map path {
  stroke: $white;
  stroke-width: 2px;
  @media #{$breakpoint-sm} { stroke-width: 1px; }
}

.usa-map:not(.no-hover) path:hover {
  fill: $red-light;
}
