.axis {
  fill: none;
  font-family: $font-monospace;
  font-size: 10px;

  line,
  path {
    stroke: $blue-light;
    stroke-width: 1px;
  }
}

.axis--y text { text-anchor: start; }

.no-year-data {
  circle { stroke: $blue-light; }
  text { fill: $blue-light; font-size: .7rem; }
}

.usa-map path {
  stroke: $white;
  stroke-width: 2px;
  @media #{$breakpoint-sm} { stroke-width: 1px; }
}

.usa-map:not(.no-hover) path:hover {
  fill: $red-light;
}

@media #{$breakpoint-max-sm} {
  .bar-chart .axis--x .tick:nth-child(even) { display: none; }
}
