.border-blue { border-color: $blue; }
.border-blue-light { border-color: $blue-light; }
.border-blue-lighter { border-color: $blue-lighter; }
.border-red-bright { border-color: $red-bright; }

.border-bottom-dotted { border-bottom: $border-width dotted $black; }
.border-w2 { border-width: 2px; }

@media #{$breakpoint-md} {
  .md-border-none { border: 0; }
}
