.border-blue { border-color: $blue; }
.border-blue-light { border-color: $blue-light; }
.border-blue-lighter { border-color: $blue-lighter; }
.border-red-bright { border-color: $red-bright; }

.border-bottom-dashed { border-bottom: $border-width dashed $body-color; }
.border-bottom-dotted { border-bottom: $border-width dotted $body-color; }

.border-w2 { border-width: 2px; }
.border-w8 { border-width: 8px; }

.rounded-none { border-radius: 0; }
.rounded-br { border-bottom-right-radius: $border-radius; }

@media #{$breakpoint-md} {
  .md-border-none { border: 0; }
  .md-rounded-bottom { border-radius: 0 0 $border-radius $border-radius; }
  .md-rounded-top { border-radius: $border-radius $border-radius 0 0; }
}
