.clear-left { clear: left; }
.sticky { position: sticky; }

@media #{$breakpoint-sm} {
  .sm-absolute { position: absolute; }
  .sm-mx-auto { margin-left: auto; margin-right: auto; }
}

@media #{$breakpoint-md} {
  .md-absolute { position: absolute; }
}
