.clear-left { clear: left; }
.sticky { position: sticky; }

@media #{$breakpoint-sm} {
  .sm-absolute { position: absolute; }
}

@media #{$breakpoint-md} {
  .md-absolute { position: absolute; }
}

@media #{$breakpoint-lg} {
  .lg-absolute { position: absolute; }
}
