.fs-ch1 { font-size: $fs-ch1; }
.fs-ch2 { font-size: $fs-ch2; }
.fs-ch3 { font-size: $fs-ch3; }
.fs-ch4 { font-size: $fs-ch4; }

.fs1 { font-size: $fs1; }
.fs2 { font-size: $fs2; }
.fs3 { font-size: $fs3; }
.fs4 { font-size: $fs4; }
.fs5 { font-size: $fs5; }
