.fs-ch1 { font-size: $fs-ch1; }
.fs-ch2 { font-size: $fs-ch2; }
.fs-ch3 { font-size: $fs-ch3; }
.fs-ch4 { font-size: $fs-ch4; }

.fs-b1 { font-size: $fs-b1; }
.fs-b2 { font-size: $fs-b2; }
.fs-b3 { font-size: $fs-b3; }
.fs-b4 { font-size: $fs-b4; }
